{
	application: {
    port: 6001,
		jwt: {
			key: "5ebd207",
			expireDate: "20w"
		},
    courierSite: "https://exalt-courier-website.netlify.app/",
    logisticsSite: "https://logistics-site.netlify.app/",
    accountSite: "https://exalt-reset-password.netlify.app",
    logisticsService: "https://dev.api.logistics.churchesapp.com",
    accountService: "https://dev.api.logistics.churchesapp.com",
    cardService: "https://dev.api.logistics.churchesapp.com",
  },
  database: {
    port: 27001,
    url: "mongodb+srv://techone:techone2020@churchapp-tb9kg.gcp.mongodb.net/logistics",
  },
  aws: {
    region: "af-south-1",
    bucket: "exalt-dev",
  },
  mail: {
    key: "nWgiGdIO4gkcE",
    email: "sales@exaltapp.com",
  },
  otp: {
    termii: "TLYvZWvcKsdLHFw",
  },
  paystack: {
    secret: "sk_test_44f0d8a956caf6e5ab496afb",
    public: "pk_test_ad7a14781e403d65f206a8abc7",
  },
  googleMap: {
    key: "AIzaSyCiOe7"
  },
  api: {
    key: "suecret",
    base: "http://localhost:6000/api/v1",
  },
}
