{
	application: {
    port: 6001,
		jwt: {
			key: "5ebd207",
			expireDate: "20w"
		},
    website: "https://logistics-site.netlify.app",
    url: "https://dev.api.logistics.churchesapp.com",
    socket: {
      path: "/sio",
      transports: ["websocket"]
    },
    cors: {
      origin: "*",
      exposedHeaders: ["x-auth-token"]
    },
    redis: { 
      host: "127.0.0.1", 
      port: 6379
    },
  },
  database: {
    port: 27001,
    url: "mongodb+srv://techone:techone2020@churchapp-tb9kg.gcp.mongodb.net/logistics",
  },
  aws: {
    region: "af-south-1",
    bucket: "exalt-dev",
  },
  mail: {
    key: "SG.jXcQO8Q7T0SH0nWgiGdIO4gkcE",
    email: "sales@exaltapp.com",
  },
  cdn: {
    url: "https://d367c9pgq4rf5n.cloudfront.net/",
  },
  termii: {
    key: "TLBMcLgvjJuWsYvZWvcKsdLHFw"
  },
  paystack: {
    secret: "sk_test_44f0d8a956caf6e5ab496afb",
    public: "pk_test_ad7a14781e403d65f206a8abc7",
  },
  googleMap: {
    key: "AIzaSyCiOe7QVRVMTX43sm_Ic"
  },
  api: {
    key: "suecret",
    base: "http://localhost:6000/api/v1",
  },
}
