{
	application: {
    port: 6001,
		jwt: {
			key: "5eb90nWgiGBaf6c024d207",
			expireDate: "20w"
		},
    website: "https://exaltapp.com"
  },
  database: {
    port: 27001,
    url: "mongodb+srv://techone:techone2020@churchapp-tb9kg.gcp.mongodb.net/logistics",
  },
  aws: {
    region: "af-south-1",
    bucket: "exalt-dev",
  },
  mail: {
    key: "SG.p6apQE0IXi4J1g.8y_6kNdw1oMq0ky7Ho_BvW4",
    email: "admin@techoneesystems.com",
  },
  cdn: {
    url: "https://d12xp0t1lkbg8.cloudfront.net/",
  },
  otp: {
    termil: "TLBMcobpjGogzsYvZWvcKsdLHFw",
  },
  paystack: {
    secret: "sk_test_44f0de5ab496afb",
    public: "pk_test_ad7a14206a8abc7",
  },
  api: {
    base: "http://localhost:6000/api/v1",
  },
}
